<div class="document-listing" *ngIf="pagedItems.length === 0">
  <div class="no-data-box">
    <div class="no-data">
      <img src="assets\images\activities\nodata.png" alt="no data" />
      <h4>No Records to show</h4>
    </div>
  </div>
</div>

<div *ngIf="pagedItems.length > 0">
  <div class="row">
    <ng-container *ngFor="let item of pagedItems">
      <div class="col-lg-4 mb-3">
        <div class="activity-card">
          <div class="activity-img-sec" (click)="goToActivityDetail(item)">
            <!-- <img
              src="assets\images\activities\activity-d1.png"
              class="activity-img"
              alt=""
              (click)="goToActivityDetail(item)"
            /> -->
            <ng-container *ngIf="returnCoverImageAndCaption(item.images); else noImage">
              <video *ngIf="
                  checkFileFormat(coverImage?.imageName) === fileTypes.VIDEO;
                  else imageView
                " [src]="coverImage.imageUrl" class="d-block w-100" alt="..."></video>
              <ng-template #imageView>
                <img [src]="coverImage?.imageUrl" class="activity-img" alt="" (click)="goToActivityDetail(item)" />
              </ng-template>
            </ng-container>
            <ng-template #noImage>
              <img src="assets\images\activities\activity-d1.png" class="activity-img" alt=""
                (click)="goToActivityDetail(item)" />
            </ng-template>

            <div class="act-img-overlay-sec">
              <div class="flbx-stretch">
                <span class="badge mode-online" *ngIf="
                    item?.modeOfParticipation === 'Online';
                    else offlinemode
                  "><img src="assets\images\activities\online.svg" alt="" />{{
                  item?.modeOfParticipation
                  }}</span>
                <ng-template #offlinemode>
                  <span class="badge mode-onsite"><img src="assets\images\activities\onsite-icon.svg" alt="" />{{
                    item?.modeOfParticipation }}</span>
                </ng-template>
                <span class="badge theme">{{ item?.themeName }}</span>
              </div>
              <div class="act-img-bottom">
                <h3 title="{{ item?.activityId + ' - ' + item?.activityName }}">
                  {{ item?.activityId + " - " + item?.activityName }}
                </h3>
                <span class="act-date icon-text"><img src="assets\images\activities\date.svg" alt="" />{{
                  returnDate(item?.startDate)
                  }}
                  - {{ returnDate(item?.endDate) }}</span>
                <span class="act-time icon-text"><img src="assets\images\activities\time.svg" alt="" />{{
                  item?.timeOfActivity
                  }}</span>
              </div>
            </div>
          </div>
          <div class="activity-bottom-sec">
            <div class="cont">
              <div class="user-list">
                <ng-container *ngIf="item?.enrolledEmployees?.length > 0">
                  <div class="user-avatars">
                    <!-- <span class="avatar">
                                            <img src="assets\images\activities\avtar1.png" width="25"
                                                height="25" />
                                        </span>
                                        <span class="avatar">
                                            <img src="assets\images\activities\avtar2.png" width="25"
                                                height="25" />
                                        </span> -->
                    <span class="avatar" *ngFor="let emp of item?.enrolledEmployees; let i = index">
                      <span class="user-initials" *ngIf="i < 3">{{
                        getShortName(emp)
                        }}</span>
                    </span>
                  </div>
                  <span class="enroll">
                    {{
                    item.enrolledEmployees &&
                    item.enrolledEmployees.length &&
                    item.enrolledEmployees.length > 3
                    ? "+" + (item.enrolledEmployees.length - 3)
                    : item.enrolledEmployees &&
                    item.enrolledEmployees?.length === 0
                    ? "0"
                    : ""
                    }}
                    {{ selectedTabIndex === 2 ? "Participants" : "Enrolled" }}
                    <a href="javascript:void(0);" class="view-all" [routerLink]="[
                        '/participation/participation-list',
                        returnEncrypted(item.activityUUID),
                        selectedTabIndex === 0
                          ? returnEncrypted('ONGOING')
                          : selectedTabIndex === 1
                          ? returnEncrypted('UPCOMING')
                          : returnEncrypted('PAST')
                      ]">View All</a></span>
                </ng-container>
                <span class="badge green">
                  {{ item?.tagName }}
                </span>
              </div>
              <p class="act-excerpt" [innerHTML]="item?.briefDescription"></p>
              <hr />
              <div>
                <div class="act-loc">
                  <span><img src="assets\images\location-pin.svg" alt="" />
                    <strong> Location(s)</strong> :
                    {{ formatLocation(item?.activityLocation) }}</span>
                  <div>
                    <strong>Village</strong> : {{ item?.activityPlace }}
                  </div>
                </div>
                <!-- <div class="act-location">
                  <h3>{{ item?.activityLocation }}</h3>
                  <p>{{ item?.activityPlace }}</p>
                </div> -->
                <div class="twobtn-group">
                  <button type="button" class="btn btn-enrolled"
                    *ngIf="item?.employeeParticipationStatus === 'Enrolled'">
                    <mat-icon>check_circle</mat-icon>Enrolled
                  </button>

                  <button type="button" class="btn btn-participated" *ngIf="
                      item?.employeeParticipationStatus === 'Feedback' ||
                      item?.employeeParticipationStatus === 'Participated'
                    ">
                    <mat-icon>person_add</mat-icon>Participated
                  </button>
                </div>
              </div>
            </div>
            <hr />
            <div class="card-ftr">
              <h6>
                Committed Man Hours: <br />
                {{
                item?.timeRequired
                ? returnHousrAndMinShort(item?.timeRequired)
                : 0
                }}
              </h6>

              <div class="twobtn-group" *ngIf="
                  role !== roleEnum.EMPLOYEE &&
                    !isHistory;
                  else roleEmployee
                ">
                <button type="button" class="btn btn-red h-100" (click)="delete(item.activityUUID, item.activityName)"
                  *ngIf="selectedTabIndex !== 0">
                  <img src="assets\images\activities\delete.svg" alt="" />
                  Delete
                </button>
                <button type="button" class="btn btn-grey" (click)="
                    selectedTabIndex === 0
                      ? editActivity(item, 'ongoing')
                      : editActivity(item, 'normal')
                  ">
                  <img src="assets\images\activities\edit.svg" alt="" /> Edit
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-red"
                  (click)="enrollnow(item.activityName, item.activityUUID)"
                  *ngIf="
                    item?.employeeParticipationStatus !== 'Enrolled' &&
                    role === roleEnum.EMPLOYEE
                  "
                >
                  Enroll Now
                </button>

                <button
                  type="button"
                  class="btn btn-red"
                  (click)="confirmParticipation(item)"
                  *ngIf="
                    item?.employeeParticipationStatus !== 'Enrolled' &&
                    role === roleEnum.EMPLOYEE
                  "
                >
                  Confirm Participation
                </button> -->
              </div>
              <ng-template #roleEmployee>
                <div class="twobtn-group" *ngIf="
                    role === roleEnum.EMPLOYEE &&
                    !isHistory
                  ">
                  <button type="button" class="btn btn-red" (click)="
                      enrollnow(
                        item.activityUUID,
                        item.activityName,
                        item.activityLocation,
                        item.activityId
                      )
                    " *ngIf="
                      item?.employeeParticipationStatus !== 'Enrolled' &&
                      item?.employeeParticipationStatus !== 'Feedback' &&
                      item?.employeeParticipationStatus !== 'Participated' &&
                      selectedTabIndex !== 2
                    ">
                    Enroll Now
                  </button>

                  <button type="button" class="btn btn-red" (click)="confirmParticipation(item)" *ngIf="
                      item?.employeeParticipationStatus === 'Enrolled' &&
                      returnCheckAtivityDates(item?.startDate) &&
                      item?.employeeParticipationStatus !== 'Feedback' &&
                      item?.employeeParticipationStatus !== 'Participated'
                    ">
                    Confirm Participation
                  </button>
                </div>
              </ng-template>
              <div class="twobtn-group" *ngIf="
                  role === roleEnum.CADMIN &&
                  selectedTabIndex === 2 &&
                  !isHistory
                ">
                <button type="button" class="btn btn-grey" (click)="editActivity(item, 'past')">
                  <img src="assets\images\activities\edit.svg" alt="" /> Edit
                </button>
              </div>
              <!-- <div class="twobtn-group"></div> -->

              <!-- <div class="twobtn-group">
                                <button type="button" class="btn btn-participated"><mat-icon>person_add</mat-icon>Participated</button>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Pagination component -->

  <app-pagination (pageChange)="onPageChange($event)" [page]="currentPage" [pageSize]="3"
    [totalItems]="totalItems"></app-pagination>
  <!-- End -->

  <!-- <nav aria-label="Page navigation" *ngIf="pager.pages && pager.pages.length">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" [ngClass]="{disabled:pager.currentPage === 1}">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages"
                [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
        </ul>
    </nav> -->
</div>