<div class="cont-inner">
  <div class="d-flex mb-2">
    <!-- <mat-form-field class="me-3 p-0" appearance="outline">
            <mat-label>Search by Employee ID</mat-label>

            <input type="tel" matInput placeholder="search by employee id" [formControl]="searchControl"
                (selectionchange)="selectEmployee($event)">

        </mat-form-field> -->

    <mat-form-field class="me-2 p-0" appearance="outline">
      <mat-label>Search by Employee ID</mat-label>
      <input
        type="text"
        matInput
        placeholder="Employee search"
        aria-label="Employee search"
        aria-describedby="addon-wrapping"
        autocomplete="off"
        [formControl]="searchControl"
      />
      <!-- <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let employee of empDetails" [value]="employee.employeeId"
                    (click)="selectEmployee(employee)">
                    {{ employee.employeeId }}
                </mat-option>
            </mat-autocomplete> -->
    </mat-form-field>

    <button
      class="btn btn-grey s-btn"
      [disabled]="!searchControl.value"
      (click)="getEmployeeDetailsById()"
    >
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </div>

  <form
    class="example-form"
    [formGroup]="adminForm"
    *ngIf="empDetails.length; else noData"
  >
    <div class="col-12">
      <mat-form-field class="m-0 p-0" appearance="outline">
        <mat-label>Name</mat-label>

        <input
          type="text"
          matInput
          placeholder="Name"
          formControlName="employeeName"
        />
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="m-0 p-0" appearance="outline">
        <mat-label>Email ID</mat-label>

        <input
          type="text"
          matInput
          placeholder="Name"
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="m-0 p-0" appearance="outline">
        <mat-label>Employee ID</mat-label>

        <input
          type="text"
          matInput
          placeholder="Name"
          formControlName="employeeId"
        />
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="m-0 p-0" appearance="outline">
        <mat-label>Location</mat-label>

        <input
          type="text"
          matInput
          placeholder="Name"
          formControlName="locationName"
        />
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="" *ngIf="empDetails">
            <div class="box">

                <div class="user-avatar">

                    <div class="top-content d-flex">
                        <div class="avatar">
                            DK </div>
                        <div class="activty-name ps-3">
                            <h6>{{empDetails?.employeeName}}</h6>
                            <p>{{empDetails?.email}}</p>
                        </div>



                    </div>
                    <div class="bottom-content">
                        <p><img src="../../../../../assets/images/emicon.svg" alt="">Employee ID:
                            <span>{{empDetails?.employeeId}}</span>
                        </p>
                        <p><img src="../../../../../assets/images/locationicon.svg" alt="">Location:
                            <span>{{empDetails?.locationName}}</span>
                        </p>
                    </div>
                </div>

            </div>
        </div> -->
  </form>
  <ng-template #noData>
    <div class="document-listing">
      <div class="no-data-box">
        <div class="no-data">
          <img src="assets\images\activities\nodata.png" alt="no data" />
          <h4>No Records to show</h4>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="footer-btn">
  <button
    class="btn btn-red"
    [disabled]="adminForm.invalid"
    (click)="saveAdmin()"
  >
    Add
  </button>
  <button class="btn btn-grey" (click)="onCancelClick()">Cancel</button>
</div>
