<div class="row">
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Mode wise no. of Volunteers</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('ModeWise', 'ParticipationWise')"
        [matTooltip]="'Download data in CSV'"
        [matTooltipPosition]="'above'"
      />
    </div>

    <div class="widget__chart">
      <app-apex-simple-pie-chart
        [chartOptions]="noOfParticipantsOptions"
      ></app-apex-simple-pie-chart>
    </div>
  </div>
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Mode wise no. of participated Hours</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('ModeWise', 'ParticipationHoursWise')"
        [matTooltip]="'Download data in CSV'"
        [matTooltipPosition]="'above'"
      />
    </div>

    <div class="widget__chart">
      <app-apex-simple-pie-chart
        [chartOptions]="participantHoursOptions"
      ></app-apex-simple-pie-chart>
    </div>
  </div>
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Mode wise no. of Unique Volunteers</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('ModeWise', 'UniqueParticipationWise')"
        [matTooltip]="'Download data in CSV'"
        [matTooltipPosition]="'above'"
      />
    </div>

    <div class="widget__chart">
      <app-apex-simple-pie-chart
        [chartOptions]="uniqueParticipantsOptions"
      ></app-apex-simple-pie-chart>
    </div>
  </div>
</div>
