.charts {
  p {
    color: #000 !important;
    margin-bottom: 0px;
    font-weight: 600;
  }
}
.apexcharts-menu-icon {
  svg {
    display: none;
  }
}

.page__content-block {
  margin-top: 20px;
}

.common-table table {
  width: 100%;
}
.chart-img {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  cursor: pointer;
}
.act-name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
