.olbox
{
    padding: 70px 40px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    z-index: 1;
    border-radius: 4px;
    @media screen and (max-width: 768px) {
      padding: 20px !important;
    }
}

.olbox-right
{
    margin-left: -20%;
}
.olbox-left
{
    margin-right: -20%;

}
.about-left{
  img{
    width: 100%;
    object-fit: cover;
  }
}
.about-us-sec{
  padding: 70px !important;
  @media screen and (max-width: 768px) {
    padding: 20px !important;
  }
  h2{
    color: #000 !important;
    font-size:28px !important;
    font-weight: 600;
  }
  p{
    font-size: 20px;
    color: #000 !important;
    text-align: justify;
  }

}
ol{
  li{
    font-size: 20px !important;
    padding-bottom: 5px;
    text-align: justify;
  }
}
.about-right{
  img{
    width: 100%;
    object-fit: cover;
  }
}
