<div class="page__wrapper">
  <section class="content-section">
    <div class="widget__wrapper mb-4">
      <div class="widget__chat">
        <div class="widget__icon bg__sec-bg-1">
          <img src="assets/images/icons/voluntrees.svg" alt="" />
        </div>
        <div class="widget__right">
          <div class="widget__head">No.of Volunteers</div>
          <div class="widget__body">
            <div class="widget__content">
              <span class="widget__count">{{
                dashBoardCardsData?.noOfVolunteers
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="widget__chat">
        <div class="widget__icon bg__sec-bg-1">
          <img src="assets/images/icons/unique.svg" alt="" />
        </div>
        <div class="widget__right">
          <div class="widget__head">No. of unique participations</div>
          <div class="widget__body">
            <div class="widget__content">
              <span class="widget__count">{{
                dashBoardCardsData?.noOfUniqueVolunteers
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="widget__chat">
        <div class="widget__icon bg__sec-bg-1">
          <img src="assets/images/icons/hours.svg" alt="" />
        </div>
        <div class="widget__right">
          <div class="widget__head">Total Hours of Participation</div>
          <div class="widget__body">
            <div class="widget__content">
              <span class="widget__count">{{
                dashBoardCardsData?.totalHoursVolunteering
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="widget__chat">
        <div class="widget__icon bg__sec-bg-1">
          <img src="assets/images/icons/activities.svg" alt="" />
        </div>
        <div class="widget__right">
          <div class="widget__head">No. of Activities Conducted</div>
          <div class="widget__body">
            <div class="widget__content">
              <span class="widget__count">{{
                dashBoardCardsData?.totalNoOfActivities
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="widget__chat">
        <div class="widget__icon bg__sec-bg-1">
          <img src="assets/images/icons/percentage.svg" alt="" />
        </div>
        <div class="widget__right">
          <div class="widget__head">% of Participated Employees</div>
          <div class="widget__body">
            <div class="widget__content">
              <span class="widget__count">{{
                dashBoardCardsData?.enrolledVsParticipated > 0
                  ? dashBoardCardsData?.enrolledVsParticipated + "%"
                  : 0
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid page__content-block">
      <div class="container-fluid mt-4 page__content-block about-us-sec">
        <div class="row">
          <div class="col-12 col-md-7">
            <h2>What is Employee Volunteering Portal (EVP) ?</h2>
            <p class="pe-3 pe-md-5 pt-5">
              At Asian Paints, employees will contribute their skills, time and
              efforts, in programmes meant for the betterment of communities
              around us, including but not restricted to those communities that
              are also impacted by the organization’s CSR Projects.
            </p>
          </div>
          <div class="col-md-5 about-right">
            <img
              src="assets/images/about-img1.jpg"
              class="img-fluid"
            />
          </div>
          <div class="col-12 mt-4">
            <h2>Objectives of EVP :</h2>
            <ol>
              <li>
                To develop empathy among employees which is a fuel to their
                passion to do good for others.
              </li>
              <li>
                In doing so, to encourage them to leverage their skill sets,
                their time and effort in socio-environmental initiatives meant
                to engage and impact with communities.
              </li>
              <li>
                To educate employees about the efforts being taken
                simultaneously by the organization towards socio-environmental
                causes.
              </li>
              <li>
                To work and contribute within the Company’s projects thus
                creating greater engagement between our employees and the
                communities we are working with.
              </li>
              <li>
                To generate a sense of ownership and belongingness for the
                environment, self-satisfaction through their own efforts &
                belief in the values of the organization, in its commitment to
                those around us .
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- <div class="container-fluid mt-4 page__content-block about-us-sec">
        <div class="row">
          <div class="col-12 col-md-6 about-left">
            <img
              src="assets/images/vision.jpg"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 about-right d-flex align-items-center">
            <div class="about-cont olbox olbox-right">
              <h2>EVP Vision Statement</h2>
              <p>
                Employee Value Proposition(EVP) is the balance of the rewards
                and benefits that are received by employees in return to their
                performance at the workplace. As an organisation we have always
                upheld the highest standards of cooperate governance, which has
                been the bedrock for our growth of sustainable , responsible
                cooperate citizen.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="container-fluid mt-5 page__content-block about-us-sec">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <div class="about-con-right olbox olbox-left">
            <div class="d-flex justify-content-center align-items-center pb-5">
              <img
                src="assets/images/target.png"
                class="img-fluid"
              />
              <h2 class="m-0 ps-3">EVP Mission Statement</h2>
            </div>

            <p>
              To influence a culture of Giving, amongst Employees, through
              Volunteering, for the betterment of communities around us thus
              bringing Joy and Happiness in their lives
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 about-left">
          <img
            src="assets/images/mission.jpg"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
</div>
