.filename
{
    display: flex;
    column-gap:10px;
    margin-top: 10px;
    .delete
    {
        cursor: pointer;
        svg path
        {
            fill:#EE4238;
        }
    }
    h4
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}