<div class="row">
      <div class="container">
            <div class="column">
              <!-- Content for the first column -->
              <h2>Column 1</h2>
              <div>
                <ul>
                  <li><a routerLink="/bannersImage">Banners</a></li>
                  <li><a routerLink="/leaders-talks">Leaders Talks</a></li>
                  <li><a routerLink="/youtube-video1">Youtube Video 1</a></li>
                  <li><a routerLink="/youtube-video2">Youtube Video 2</a></li>
                  <li><a routerLink="/voice-of-chance">Voice of Chance</a></li>
                  <li><a routerLink="/testimonials">Testimonials</a></li>
                  <li><a routerLink="/partners-logos">Partners Logos</a></li>
                </ul>
            </div>
            </div>
            <div class="column">
              <h2>Column 2</h2>
             <p>This is the content of the second column.</p>
            </div>
          </div>
 
        </div>
