<!-- <app-overlay-side-panel
  [overlayData]="sideOverlayData"
></app-overlay-side-panel> -->
<div class="row">
  <h1>Feedbacks</h1>

  <section class="check-section mb-3">
    <div class="select-all">
      <mat-checkbox
        class="example-margin"
        (change)="selectAllfeedbacks()"
        *ngIf="role !== roleEnum.EMPLOYEE"
        >Select All</mat-checkbox
      >
    </div>

    <div class="twobtn-group">
      <button
        type="button"
        class="btn btn-red"
        [disabled]="!enableOrDisableBtn"
        *ngIf="role !== roleEnum.EMPLOYEE"
        (click)="removeFeedbacks(themeName)"
      >
        <img src="assets\images\activities\delete.svg" alt="" /> Delete
      </button>
      <ng-container *ngIf="type === 'published'; else unpublish">
        <button
          type="button"
          class="btn btn-grey h-100"
          (click)="publishOrUnpublishFeedbacks(false, themeName)"
          [disabled]="!enableOrDisableBtn"
          *ngIf="role !== roleEnum.EMPLOYEE"
        >
          <img src="assets/images/unpublished-grey.svg" alt="" />
          Unpublish
        </button>
      </ng-container>
      <ng-template #unpublish>
        <button
          type="button"
          class="btn btn-grey h-100"
          (click)="publishOrUnpublishFeedbacks(true, themeName)"
          [disabled]="!enableOrDisableBtn"
          *ngIf="role !== roleEnum.EMPLOYEE"
        >
          <img src="assets/images/upload.svg" alt="" />
          Publish
        </button>
      </ng-template>
    </div>
  </section>
  <section>
    <div class="swiper row">
      <!-- <owl-carousel-o [options]="customOptions"> -->
      <ng-container
        *ngIf="
          pagedItems &&
          pagedItems[themeName] &&
          pagedItems[themeName][type] &&
          pagedItems[themeName][type]?.activityFeedback.length
        "
        [formGroup]="feedbackForm"
      >
        <div
          class="swiper-slide col-12 col-md-3"
          *ngFor="let feedback of feedbackFormArray.controls; let i = index"
          formArrayName="feedbacks"
        >
          <div class="fdbk-wrapper">
            <div class="fdbk-details flbx-stretch">
              <div class="fb-user-avtar flbx-vac">
                <div class="uname">
                  {{
                    getShortName(
                      pagedItems[themeName][type]?.activityFeedback[i]?.fullName
                    )
                  }}
                </div>
                <!-- <img src="assets/images/activities/feed-back-user.png" alt="" /> -->
                <div>
                  <h3 class="username">
                    {{
                      pagedItems[themeName][type]?.activityFeedback[i]?.fullName
                    }}
                  </h3>
                  <p class="fb-date">
                    {{
                      pagedItems[themeName][type]?.activityFeedback[i]
                        ?.createdDate | date : "dd-MM-YYYY"
                    }}
                  </p>
                </div>
              </div>

              <div class="flbx-vac">
                <!-- <button
                  type="button"
                  class="btn btn-grey btn-sm"
                  *ngIf="role !== roleEnum.EMPLOYEE"
                  (click)="
                    editFeedbackPanel(
                      pagedItems[themeName][type]?.activityFeedback[i]
                    )
                  "
                  [matTooltip]="'Edit'"
                  [matTooltipPosition]="'above'"
                >
                  <img src="assets\images\activities\edit.svg" alt="" />
                </button> -->
                <section class="select-section">
                  <mat-checkbox
                    [formControlName]="i"
                    class="example-margin"
                    *ngIf="role !== roleEnum.EMPLOYEE"
                  ></mat-checkbox>
                </section>
              </div>
            </div>
            <div class="rating-wrapper mt-3 mb-3">
              <app-star-rating
                value="{{
                  pagedItems[themeName][type]?.activityFeedback[i]?.rating
                }}"
                disabled="'true'"
                class="disableDiv"
              ></app-star-rating>
            </div>
            <div class="fb-content">
              <h2>
                {{
                  pagedItems[themeName][type]?.activityFeedback[i]?.activityName
                }}
              </h2>
              <p>
                {{
                  returnFeedbackToShort(
                    pagedItems[themeName][type]?.activityFeedback[i]?.feedback
                  )?.textContent
                }}
              </p>
              <a
                href="javascript:void(0);"
                *ngIf="
                  returnFeedbackToShort(
                    pagedItems[themeName][type]?.activityFeedback[i]?.feedback
                  )?.show
                "
                (click)="
                  openFeedbackDetails(
                    pagedItems[themeName][type]?.activityFeedback[i]
                  )
                "
                >Continue Reading</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <app-pagination
      (pageChange)="onPageChange($event, themeName)"
      [page]="currentPage"
      [pageSize]="pageLimit"
      [totalItems]="totalItems"
    ></app-pagination>
  </section>
</div>
