<app-overlay-side-panel
  [overlayData]="sideOverlayData"
></app-overlay-side-panel>
<div class="page__wrapper">
  <section class="content-section">
    <div class="container-fluid page__content-block">
      <div class="page__header">
        <h2 class="page__heading">Promotions</h2>

        <div class="page__rightColumn" *ngIf="role !== roleEnum.EMPLOYEE">
          <button type="button" class="btn btn-grey" (click)="addPromotion()">
            <img src="assets\images\plus.svg" alt="" /> Add new promotion
          </button>
        </div>
      </div>
      <div *ngIf="pagedItems.length > 0; else nopromotionData">
        <div class="row">
          <div class="col-lg-4 mb-3" *ngFor="let promotion of promotionData">
            <div class="activity-card">
              <div class="activity-img-sec">
                <img
                  class="activity-img"
                  [src]="promotion?.images[0]?.imageUrl"
                  alt=""
                />
              </div>
              <div class="row activity-bottom-sec">
                <div class="col-12">
                  <span class="act-datetime"
                    >{{ returnDateFormated(promotion?.startDate) }} -
                    {{ returnDateFormated(promotion?.endDate) }}
                  </span>
                </div>
                <div class="col12 act-title-wrapper">
                  <h2 class="char-limit">
                    {{
                      promotion?.activityId +
                        " - " +
                        promotion?.promotionActivity
                    }}
                  </h2>
                </div>
                <div class="act-loc pt-3">
                  <span
                    ><img src="assets\images\location-pin.svg" alt=""><strong> Location(s)</strong> :
                    {{ formatLocation(promotion?.promotionlocation) }}</span
                  >
                </div>
              </div>

              <div class="notification__container">
                <button
                  class="btn btn-red"
                  (click)="deletePromotion(promotion?.promotionId, 'delete')"
                >
                  <img src="assets\images\activities\delete.svg" alt="" />
                  Delete
                </button>
                <button
                  class="btn btn-grey"
                  (click)="editPromotion(promotion?.promotionId)"
                >
                  <img src="assets\images\activities\edit.svg" alt="" /> Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <app-pagination
          (pageChange)="onPageChange($event)"
          [page]="currentPage"
          [pageSize]="pageSize"
          [totalItems]="totalItems"
        ></app-pagination>
      </div>

      <ng-template #nopromotionData>
        <div class="document-listing">
          <div class="no-data-box">
            <div class="no-data">
              <img src="assets\images\activities\nodata.png" alt="no data" />
              <h4>No Records to show</h4>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</div>
