<!-- 
<div class="closed__wrapper ">
    <div>Preview</div>
    <div class="notification__head">
        <div class="notification__delete chat__element">
            <img [src]="url1" class="imageDialog"  alt="No Image">
        </div>

    </div>

    <div class="notification__container">
        <button class="btn btn-red" (click)="close()">Close</button>
    </div>
</div> -->

<div class="promotion-popup">
    <img [src]="url1" alt="" />
    <div class="close" mat-dialog-close>
      <img src="assets/images/close-btn.svg" />
    </div>    
</div>