<ng-container *ngIf="themeNames.length === 0; else second">
  <div class="document-listing">
    <div class="no-data-box">
      <div class="no-data">
        <img src="assets\images\activities\nodata.png" alt="no data" />
        <h4>No Records to show</h4>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #second>
  <ng-container *ngFor="let theme of themeNames">
    <h1>
      {{
        (unpublishedImages && unpublishedImages[theme]) ||
        (feedbackItems && feedbackItems[theme] &&  feedbackItems[theme]?.unPublished?.activityFeedback.length > 0)
          ? theme
          : ""
      }}
    </h1>
    <div
      *ngIf="unpublishedImages && unpublishedImages[theme]?.images?.length > 0"
    >
      <app-gallery-by-themewise
        [gallerDetails]="unpublishedImages"
        [themeName]="theme"
        [type]="type"
      ></app-gallery-by-themewise>
    </div>
    <div
      *ngIf="
        feedbackItems &&
        feedbackItems[theme] &&
        feedbackItems[theme]?.unPublished?.activityFeedback.length > 0
      "
    >
      <app-feedback-by-themewise
        [feedbackDetails]="feedbackItems"
        [themeName]="theme"
        [type]="'unPublished'"
      ></app-feedback-by-themewise>
    </div>
  </ng-container>
</ng-template>
