.close {
  position: absolute;
  top: 0;
  right: 0;
}

.answer {
  position: relative;
  width: 100%;
}

.answer>img {
  max-width: 100%;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  height: 100px;
}

.preview_img {
  height: 100px;
  object-fit: cover;
}

.answers {
  width: 18%;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }
  .flbx-vac {
    width: 100%;
  }
}

.upload {
  // display: none !important;
  padding: 20px 0px;
}

.enroll-sucess {
  text-align: center;
  position: relative;

  padding: 20px;

  h2 {
    color: #78AE38;
    font-size: 22px;
    font-weight: 500;
  }

  .btn-continue {
    border: 1px solid #78AE38;
    border-radius: 4px;
    background: #78AE3838 0% 0% no-repeat padding-box;
    color: #78AE38;
    font-size: 14px;
    margin-top: 15px;
  }

  p {
    font-size: 16px;
    color: #A5A5A5;
  }

  .check-icon {
    position: fixed;
    left: 50%;
    top: -35px;
    transform: translate(-50%, 0);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      background-color: #78AE38;
      border-radius: 50%;

      img {
        width: 36px;
        height: 26px;
      }
    }

  }
}