<div class="upload">
  <div class="flbx-stretch align-items-start">
    <h3>Upload Files</h3>
    <img
      _ngcontent-yru-c354=""
      src="assets/images/close-btn.svg"
      mat-dialog-close
    />
  </div>
  <form [formGroup]="uploadForm">
    <div class="item-wrapper one">
      <div class="item">
        <div class="item-inner">
          <div class="item-content">
            <div class="image-upload" appDrag (drop)="filesDropped($event)">
              <label style="cursor: pointer" for="file_upload">
                <div class="h-100">
                  <div class="dplay-tbl">
                    <div class="dplay-tbl-cell">
                      <img src="assets/images/upload-icon.svg" alt="upload" />
                      <div>
                        <h3 class="m-0 text-start">Drag and drop file here</h3>
                        <p class="m-0 text-start">Or</p>
                        <h2 class="m-0 text-start">Browse file</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!--upload-content-->
                <input
                  type="file"
                  id="file_upload"
                  class="image-input"
                  multiple
                  data-traget-resolution="image_resolution"
                  value=""
                  #fileInput
                  (change)="onFileSelection($event)"
                  accept=".jpg,.jpeg,.bmp,.png,.svg,.gif,.jfif,.pjpeg,pjp"
                />
                <mat-error *ngIf="uploadForm.get('images')?.errors?.required">
                  Please select any image file.
                </mat-error>
              </label>
            </div>
          </div>
          <!--item-content-->
        </div>
        <!--item-inner-->
      </div>
      <!--item-->
    </div>
    <!-- <div class="col-12 col-md-6 selected-img mt-4">
    <p>*Image file size limit is 5MB</p>
  </div> -->

    <div class="choose-img mt-3 d-flex" *ngIf="photosOrVideos.value.length">
      <div
        class="answers"
        formArrayName="images"
        *ngFor="let preview of photosOrVideos?.controls; let i = index"
      >
        <div class="flbx-vac" [formGroupName]="i">
          <label class="answer">
            <img [src]="preview.get('url')?.value" class="preview_img" />
            <div class="close">
              <img src="assets/images/close.svg" (click)="clearImage(i)" />
            </div>
          </label>
        </div>
        <!-- <p class="m-0 pt-2">image.png</p> -->
        <!-- <mat-form-field appearance="outline">
          <mat-label>Actual Logistic Expense </mat-label>
          <input matInput formControlName="actualLogisticExpense" />
        </mat-form-field> -->
      </div>
    </div>
  </form>

  <div class="twobtn-group mt-4 justify-content-end">
    <button type="button" class="btn btn-grey" mat-dialog-close>Cancel</button>
    <button
      type="button"
      class="btn btn-red"
      [disabled]="photosOrVideos.value.length === 0"
      (click)="uploadPictureOrVideos()"
    >
      <img src="assets/images/publish_red.svg" alt="" /> Upload
    </button>
  </div>
</div>
