*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;  
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;   
}


.form {
    &__input {

        // border: 1px solid red !important;
        &:autofill {
            background-color: transparent;
        }
    }
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: $label !important
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #674D8D !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #674D8D !important;
}
.mat-radio-container{
    &:hover{
        background-color: transparent !important;
    }
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #674D8D;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 137, 137); 
  }
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background:#fff !important;
  }
  .mat-checkbox-inner-container{
    width: 20px !important;
    height: 20px !important;
    border-radius: 6px;
  }
  .mat-checkbox-frame{
    border-color: var(--border-color) !important;
  }

