.mat-flat-button.btn__reset-password {
  padding: 0;
  line-height: 0;
  color: var(--prime-color);
}

.status {
  &__available {
    background-color: var(--color-available);
  }
}

.box {
  &__padding-normal {
    padding: 10px;
  }

  &__margin-top {
    margin-top: 10px;
  }

  &__margin-top-2 {
    margin-top: 16px;
  }

  &__align-right {
    margin-left: auto;
  }

  &__border {
    border: 1px solid var(--border-color);
  }

  &__head-bg {

    background-color: transparent;
  }

  &__margin-left {
    margin-left: 16px;
  }

  &__padding-reset {
    padding: 0;
  }
}

.chat {
  &__whatsapp {
    color: #25D366;

  }

  &__telegram {
    color: #0088cc;

  }
}

.bg {
  &__head {
    // background-color: rgba(var(--header-bg ), 0.04);
    border-bottom: 1px solid rgba(var(--header-bg), 0.1);
  }

  &__sec-bg-1 {
    background-color: var(--sec-bg-1);
  }

  &__sec-bg-2 {
    background-color: var(--sec-bg-2);
  }

  &__sec-bg-3 {
    background-color: var(--sec-bg-3);
  }

}

.chat {
  &__tagbg {
    &-1 {
      background-color: rgba(var(--tag-bg-1), 0.2);
    }

    &-2 {
      background-color: rgba(var(--tag-bg-2), 0.2);
    }

    &-3 {
      background-color: rgba(var(--tag-bg-3), 0.2);
    }

    &-4 {
      background-color: rgba(var(--tag-bg-4), 0.2);
    }

    &-escalate,
    &-close,
    &-miss {
      margin-left: 10px;
      // color: var(--color-white);
      height: max-content;
      background-color: rgba(var(--color-primary), 0.05);

    }

    &-escalate {
      // background-color: rgba(var(--escalated), .5);
      border: 1px solid var(--border-color);
    }

    &-close {
      // background-color: rgba(var(--closed), .5);
      border: 1px solid var(--border-color);
    }

    &-miss {
      // background-color: rgba(var(--missed), .5);
      border: 1px solid var(--border-color);
    }
  }
}

.avtar {
  &__active-bg {
    background-color: rgba(var(--color-primary, 1));
  }

  &__bg-1 {
    background-color: rgba(var(--avatar-bg1, 1));

    &chat {
      background-color: rgba(var(--avatar-bg1, .5));
    }
  }

  &__bg-2 {
    background-color: rgba(var(--avatar-bg2, 1));

    &chat {
      background-color: rgba(var(--avatar-bg2, .5));
    }
  }
}

.item {
  &__number {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    // top:-13px;
    width: 22px;
    height: 22px;
    border-radius: 14px;
    // background-color:var(--color-warning);
    background: rgba(var(--color-primary), 0.7);
    color: var(--color-white);
    font-size: 12px;
    // transform: translate(-9px, -8px);
    transform: translate(-5px, 0px);
  }
}

.loader {
  margin: auto;
  border: 4px solid #EAF0F6;
  border-radius: 50%;
  border-top: 4px solid rgba(var(--missed), .5);
  width: 32px;
  height: 32px;
  animation: spinner 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;

  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 32px;
    height: 32px;
    margin-bottom: 6px;
    position: relative;
    color: rgba(var(--missed));

  }

}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//   Search bar

.searchBox {
  position: absolute;

  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox:hover>.searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

.btn__addItem {
  & .add-icon {
    position: absolute;
    right: -7px;
    top: -2px;

    & .mat-icon {
      color: var(--prime-color);
    }
  }
}


/* Tooltip container */
.tooltip-cst {
  position: relative;

}

/* Tooltip text */
.tooltip-cst .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-cst:hover .tooltiptext {
  visibility: visible;
}

.agent {
  &__bg-1 {
    background-color: rgba(var(--color-primary, .7));
  }
}



// type indicator

.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  margin: 0;
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #57585a;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {

  0%,
  60%,
  100% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-4px);
  }
}


.page__rightColumn {
  & .chatwindow__assign {
    width: max-content;
    height: 24px;
    /* change 28 to 24 */
  }
}


.btn__addItem {
  // &  .mat-form-field{

  // }
  .mat-raised-button {
    padding: 0;
    margin: 0;
    width: max-content;
    min-width: max-content;
    line-height: 1;
  }

  .mat-form-field-infix {
    width: 0px;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
  }

  .mat-raised-button {
    box-shadow: none;
  }
}


.page__rightColum {
  & .form__group {

    display: flex;

    & .mat-form-field-appearance-outline {
      & .mat-form-field-infix {
        padding: 0.5em 0;
        border-top: none;
        background-color: aqua;
      }
    }
  }
}

.form__group {
  & .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  & .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.6em 0;
    border-top: none;
  }

  & .mat-form-field-infix {
    width: 110px;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(25%);
  }

  .mat-select-search-inner {
    margin-top: 24px;
  }

  .mat-tab-header {
    margin-top: 24px;
  }
}

.table {
  &__w-si {
    width: 60px;
  }

  &__w-edit {

    width: 120px;
    align-items: flex-end;
  }
}



//  form field\

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .5rem;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
}

.page__rightColumn .form__group .mat-form-field-label-wrapper {
  top: -0.9em;
  // background-color: #25D366;
}

.page__rightColumn .form__group .mat-form-field-infix {
  width: 132px;
}

.page__rightColumn .form__group .mat-option .mat-option-text {
  flex-grow: 1;
  display: flex;
  align-items: center;

}


.page__rightColumn .form__group .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-0.89375em) scale(0.75);
}

.page__rightColumn .form__group .mat-select-panel-wrap .mat-select-panel {
  min-width: calc(100% + 12px) !important;
  transform: translate(4px, 18px) !important;

}



/* mat menu dropdown modification */






/* type indicator */
.tiblock {
  align-items: center;
  display: flex;

}

.ticontainer .tidot {
  background-color: #90949c;
}

.tidot {
  animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px)
  }

  28% {
    transform: translateY(-5px)
  }

  44% {
    transform: translateY(0px)
  }
}

.tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
}

.tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
}

.tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
}



//  Date picker 
.picker {

  // & .mat-date-range-input-start-wrapper .mat-date-range-input-inner {
  //   top: 5px !important;
  // }
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.5em) scale(0.75);
  }

  &.mat-form-field-appearance-outline .mat-form-field-infix {
    // top: -5px !important;
    font-size: 14px;
  }

  & .mat-date-range-input-end-wrapper {
    color: #fff !important;
  }

  & .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    padding-left: 0px !important;

  }
}

.date-picker {
  & .mat-form-field-underline {
    display: none;
  }

  // & .mat-form-field-wrapper{
  //      padding-bottom: 0;
  // }
  &.mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .3em;
  }

  // .mat-form-field-appearance-outline .mat-form-field-outline {
  //     color: rgba(0,0,0,.12);
  // }
  &.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;

    display: flex;
    align-items: center;
    // height: 31px;
  }

  &.mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: -1px !important;
  }

  &.main-filter-outer .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    padding-left: 0px !important;
  }

  &.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    // background-color: #25D366;
    // height: 30px;
    // width: 30px;
  }

  // &.mat-form-field-appearance-fill .mat-form-field-infix {
  //   padding: 0 0 0 0;
  // }

  // & .mat-form-field-infix {
  //   border-top: 0 solid transparent;
  // }

}

.mat-datepicker-content .mat-calendar {
  width: 376px !important;
  height: auto !important;
}

.mat-calendar-body-selected {
  background-color: rgba(115, 90, 143, 0.4) !important;
  color: var(--purple) !important;
}

.mat-datepicker-content {
  border-radius: 0px 4px 4px 0px !important;
}

// dropdown selector checked 

.form__dropdown {

  // & .cdk-overlay-pane{
  //     background-color: #25D366 !important;
  // }
  & .mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;

    transform: translate(20px, 17px) !important;
  }

  & .mat-select-panel-wrap {
    transform: translate(20px, 17px) !important;
  }

}

.cdk-overlay-pane {

  transform: translate(-20px, 1px) !important;
  @media screen and (max-width: 768px) {
    transform: initial !important;
  }
}

h2.page__heading {
  margin: 0;
}






/* Tooltip container */


/* Tooltip text */
.tooltip {
  position: relative;


  & .tooltiptext {
    visibility: hidden;
    max-width: 100px;
    background-color: #555;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;

    /* Tooltip arrow */
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  &:hover {
    & .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

  }
}

.review__info {
  &.tooltip {
    & .tooltiptext {
      width: 140px;
    }
  }
}




//Gauge Chat

.sc-gauge {
  width: 200px;
  height: max-content;
  margin: 40px 32px 32px auto;
  position: relative;
}

.sc-background {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
  background-color: #e06950;
  border-radius: 150px 150px 0 0;
  overflow: hidden;
  text-align: center;
}

.sc-mask {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  height: 80px;
  background-color: white;
  border-radius: 150px 150px 0 0;
}

.sc-percentage {
  position: absolute;
  top: 100px;
  left: -200%;
  width: 400%;
  height: 400%;
  margin-left: 100px;
}

.sc-percentage-a {
  transform: rotate(130deg);
  transform-origin: top center;
  background-color: #ffe650;
}

.sc-percentage-b {
  transform: rotate(55deg);
  transform-origin: top center;
  background-color: #a9d150;
}

.sc-value {
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
  font-size: 46px;
  font-weight: 500;
  color: #ffe650;
}

.sc-low {
  position: absolute;
  top: 40px;
  left: -8px;
  font-weight: 700;
  color: gray;
  transform: rotate(-70deg);
}

.sc-med {
  position: absolute;
  top: -20px;
  left: 40%;
  font-weight: 700;
  color: gray;
}

.sc-high {
  position: absolute;
  top: 42px;
  right: -6px;
  font-weight: 700;
  color: gray;
  transform: rotate(60deg);
}

.sc-hr {
  background: #dddddd;
  height: 1px;
}

.sc-arrow {
  background: #6d6d70;
  height: 2px;
  transform: rotate(90deg);
  /* transform: rotate(55deg); */
  /* transition: all 2s; */
  width: 51px;
  left: 77px;
  position: absolute;
  top: 25px;
}

.sc-title {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: gray;
}


.participation {
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.common-table {
  overflow-y: auto;

  .mat-elevation-z8 {
    box-shadow: none !important;
  }

  thead {
    background-color: var(--purple);

  }

  td.mat-cell,
  td.mat-footer-cell {
    padding: 0px 20px !important;
  }

  td.mat-footer-cell {
    font-weight: 600;
    color: #EE4238;
    font-size: 16px;
  }

  .mat-header-cell {
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
    white-space: nowrap;
    padding: 0px 20px !important;
  }
}

.promotion {
  &.date-picker.mat-form-field-appearance-outline .mat-form-field-label {
    top: -3px !important;
  }
}


// filter - fields- Asian-pts

.main-filter-outer {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ffffff;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    top: -1px;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #fff;
  }

  .mat-form-field-label,
  .mat-select-value-text,
  .mat-select-arrow,
  .mat-date-range-input-start-wrapper,
  .mat-icon-button {
    color: #fff;
  }

  .mat-select-value {
    color: #fff;
  }

  .mat-date-range-input-separator {
    color: #fff;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: #fff !important;
  }
}

.tab-sec .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #735a8f;
}

.pagination {
  margin-top: 25px;
}

.page-link {
  color: #735a8f !important;
  font-size: 13px;
  height: 32px;
}

.pagination>li>a .mat-icon {
  font-size: 18px;
}

.badge {
  font-size: 14px !important;
  font-weight: 400 !important;
  display: flex !important;
  align-items: center;
  width: fit-content;

  @media screen and (max-width: 450px) {
    margin-bottom: 10px;
  }
}

.main-filter-outer .mat-form-field.mat-focused .mat-form-field-label {
  color: #fff !important;
}

.main-filter-outer {
  mat-icon {
    position: absolute;
    left: 0;
    top: 3px;
    color: #fff;
  }

}

.form-field {

  & .mat-form-field-type-mat-select .mat-form-field-label {
    width: calc(100% - 18px);
    padding-left: 30px;
    margin-top: -2px;
  }

  & .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    padding-left: 40px !important;
    // margin-top: 3px !important;

  }
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.side-panel {
  & .mat-form-field.mat-focused .mat-form-field-label {
    color: #000 !important;
  }
}

.mat-menu-panel {
  min-width: 250px;
  max-width: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 49px);
  border-radius: 4px;
  outline: 0;
  min-height: 168px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  top: -3px;
  font-size: 14px;
}

.mat-form-field-label {
  // top: 35px !important;
  font-size: 14px !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.3em) scale(0.75);
}

.mat-form-field-label-wrapper {
  top: -14px !important;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

// to get rid of the underline on the time picker in calendar
.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-form-field-subscript-wrapper {
  font-size: 100%;
}

.mat-error {
  font-size: 11px;
  text-transform: capitalize;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

.no-data-box {
  margin: 20px auto 35px auto;
  width: 100%;
  text-align: center;
  border: 1px solid #aaacae2e;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f8ff38;
}

.no-data {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  // width: 600px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  img {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }

  h4 {
    text-align: center;
  }

}

.form-switch {
  padding: 0 !important;
  margin: 0 !important;

  .form-check-input {
    font-size: 24px;
    width: 1.7em !important;
    margin: 0 !important;
  }
}

// .form-check-input:checked {
//   background-color: var(--purple) !important;
//   border-color: var(--purple) !important;
// }
// .form-check-input:focus
// {
//   border-color: var(--purple);
//   box-shadow: 0 0 0 0.25rem rgb(93 65 125 / 25%);
// }

.form-switch .form-check-input:focus {
  border-color: var(--purple);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(93 65 125 / 25%);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(93,65,125,1)'/></svg>");
}

.form-switch .form-check-input:checked {
  background-color: var(--purple);
  border-color: var(--purple);
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.breadcrumb {
  margin: 0px 0px 10px 0;
}
.tag-cb .mat-checkbox-inner-container
{
  width: 16px !important;
  height: 16px !important;
}
.mat-datepicker-content .actions
{
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
}

.place-all
{
  line-height: 3em;
  height: 3em;
  padding: 0 16px;

.mat-checkbox-inner-container
{
  width: 16px !important;
  height: 16px !important;
}
.mat-checkbox-frame
{
border-color: #757575 !important;
}
}

