:root {

    // --bg-primary : #F3F2F7;
    //--bg-primary : #F5F9FA;
    --bg-primary: #f6f8fc;
    --prime-color: #735A8F;
    --color-white: #ffffff;
    --color-black: #000000;
    --border-color: #e3e6e9;
    --color-warning: 255, 187, 0;
    --prime-yellow: #feba12;
    --tag-warning: 255, 188, 84;
    --header-bg: 107, 107, 107;
    --head-font-sec: #35526d;
    --bg-chat: #E6FFF6;
    --bg-decline: #F5F5F5;
    --color-available: rgb(68, 161, 7);
    --sec-bg-1: #fcfcfd;
    --sec-bg-2: #e2f6f3;
    --sec-bg-3: #fff1e9;
    --tag-bg-1: 255, 221, 0;
    --tag-bg-2: 255, 165, 240;
    --tag-bg-3: 0, 162, 138;
    --tag-bg-4: 171, 83, 219;
    --btn-add-bg: 194, 231, 255;
    --btn-add-bg: 254, 186, 18;
    --btn-bg-add: #c2e7ff;
    --border-radious: 6px;
    --color-primary: 48, 33, 82;
    --element-shadow: 0 1px 2px rgba(#000000, 0.2);
    --escalated: 255, 0, 0;
    --escalated-bg: 254, 186, 18;
    --missed: 255, 187, 0;
    --closed: 68, 161, 0;
    --prime-blue: 29, 164, 255;
    /* variables */

    --font-family: "Open Sans";
    --page-font-sixe-1: 16px;
    --page-font-sixe-2: 14px;
    --color-prime-font: 112, 112, 112;
    /* colors */
    --color-bg: #fff;

    --border-round: 6px;
    --window-width: 468px;

    --prime-white: #f8f8f8;
    --chatbody-color: #FBFBFB;
    --outer-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 5%);




    /* need to change / delete */


    --color-bg: #EFEFEF;
    --color-prime-green: #07B20D;
    --color-prime-dark: #020202;
    --color-closed: #6AB553;
    --color-bg-white: #fff;
    --color-bg-red: #FF2C2C;

    --color-white-font: #ffffff;
    --color-dark: #707070;
    --color-yellow: #feba12;
    --color-border-gray: #C7C7C7;
    --font-family: "Open Sans";
    --page-font-sixe-1: 16px;
    --page-font-sixe-2: 14px;
    --avatar-default: #AFAFAF;
    --avatar-bg1: 88, 205, 255;
    --avatar-bg2: 0, 162, 138;
    --avatar-bg3: #ffcc99;
    --avatar-bg4: #5FE1A8;
    --avatar-bg5: #E16BC1;
    --gmmco-prime-yellow: #feba12;
    --gmmco-prime-black: #000000;
    --gmmco-prime-red: #e92327;
    --intromsg-bg: #647cf9;
    --purple:#735A8F;

    // active chat
    --activechat-bg: --gmmco-prime-yellow;
    --activechat-border: #6AB553;



}

$bg-1 : #F8F8F8;
// COLORS
$cpurple: #735A8F;
$cblack: #000000;
$darkgrey: #7A7A7A;
$lightgrey: #A5A5A5;
$red: #EE4238;
$orange: #F9A72C;
$yellow: #ffd400;
$green: #78AE38;

// CONTAINERS
$border-radius: 4px;
$card-background: #FFF;


$label: rgba(61, 61, 61, 0.7);
$primary-text: #3D3D3C;

$purple: #735A8F;
$black: #000000;
$darkgrey: #7A7A7A;
$lightgrey: #A5A5A5;
$red: #EE4238;
$orange: #F9A72C;
$yellow: #ffd400;
$green: #78AE38;