$width: 215px;

:host {
  position: absolute;
  width: $width;
  left: -$width; // to render it on the right side, use "right: -$width" instead
  height: 100%;
  display: grid;
}

:host(.touch-ui) {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
}
.mat-card{
  background-color: #735A8F;
  border-radius: 4px 0px 0px 4px !important;
  padding: 16px 0;
}
.mat-button.mat-primary{
  color: #fff !important;
  font-size: 13px;
  display: block;
  padding-left: 5px;
  text-align: left;
  padding: 0 20px;
  width: 100%;
}
.mat-button.mat-primary:hover, .active
{
  background: #0000002b;
}
