.enroll-sucess {
  text-align: center;
  position: relative;

  padding: 20px;

  h2 {
    color: #78ae38;
    font-size: 22px;
    font-weight: 500;
  }

  .btn-continue {
    border: 1px solid #78ae38;
    border-radius: 4px;
    background: #78ae3838 0% 0% no-repeat padding-box;
    color: #78ae38;
    font-size: 14px;
    margin-top: 15px;
  }

  p {
    font-size: 16px;
    color: #a5a5a5;
  }

  .check-icon {
    position: fixed;
    left: 50%;
    top: -35px;
    transform: translate(-50%, 0);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      background-color: #78ae38;
      border-radius: 50%;

      img {
        width: 36px;
        height: 26px;
      }
    }
  }
}
