.activity-card {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    height: 100%;
    position: relative;
}

.act-date,
.act-time {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.card-ftr {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    // position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;

    @media only screen and (max-width: 1300px) and (min-width: 992px) {
        display: block;
    }

    @media screen and (max-width: 430px) {
        display: block;
    }
.twobtn-group{
    margin-left: auto;
}
}

.cont {
    // height: 260px;
}

.card-ftr h6 {
    width: 45%;
    font-size: 14px !important;
    font-weight: 500;
    margin: 0;

    @media screen and (max-width: 430px) {
        width: 100%;
    }
}
.act-location p{
    margin:0;
}

.act-excerpt {
    margin: 12px 0 !important;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // max-height: 75px;
    font-size: 15px;
    min-height: 72px;
}

hr {
    margin: 13px 0px !important;
    color: #DEDEDE;
    opacity: 1;
}

// li.page-item.disabled {
//     display: none;
// }

li.page-item.active {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.user-list
{
    min-height: 35px;
}


.act-loc span
{
    margin-right: 15px;
}
.act-img-overlay-sec
{
    opacity: 1;
}
