<app-overlay-side-panel
  [overlayData]="sideOverlayData"
></app-overlay-side-panel>
<div class="page__wrapper">
  <section class="content-section">
    <div class="container-fluid page__content-block">
      <div class="page__header">
        <div class="page__tabContainer">
          <h2 class="page__heading" *ngIf="!isHistory; else historyHeading">
            Activities
          </h2>
          <ng-template #historyHeading>
            <ng-container
              *ngIf="
                previousUrl === '/participation/participation-list';
                else second
              "
            >
              <h2 class="page__heading">Employee History</h2>
            </ng-container>
            <ng-template #second>
              <h2 class="page__heading">My History</h2>
            </ng-template>
          </ng-template>
        </div>

        <div
          class="page__rightColumn"
          
          *ngIf="role !== roleEnum.EMPLOYEE && !isHistory"
        >
          <button type="button" class="btn btn-grey" (click)="addActivity()">
            <img src="assets\images\plus.svg" alt="" /> Create Activity
          </button>
        </div>
      </div>

      <mat-tab-group
        class="page__tab-sec"
        [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="onTabChanged($event)"
        *ngIf="!isHistory">
        <mat-tab label="Ongoing"> </mat-tab>
        <mat-tab label="Upcoming"> </mat-tab>
        <mat-tab label="Past"> </mat-tab>
        <mat-tab label="Created" *ngIf="role !== roleEnum.EMPLOYEE"> </mat-tab>
      </mat-tab-group>
      <app-activities-by-tab
        [selectedTabIndex]="selectedTabIndex"
        [isHistory]="isHistory"
        *ngIf="selectedTabIndex === 0 && !isHistory"
      ></app-activities-by-tab>
      <app-activities-by-tab
        [selectedTabIndex]="selectedTabIndex"
        [isHistory]="isHistory"
        *ngIf="selectedTabIndex === 1 && !isHistory"
      ></app-activities-by-tab>
      <app-activities-by-tab
        [selectedTabIndex]="selectedTabIndex"
        [isHistory]="isHistory"
        *ngIf="selectedTabIndex === 2 && !isHistory"
      ></app-activities-by-tab>
      <app-activities-by-tab
        [selectedTabIndex]="selectedTabIndex"
        [isHistory]="isHistory"
        *ngIf="selectedTabIndex === 3 && !isHistory"
      ></app-activities-by-tab>
      <app-activities-by-tab
        *ngIf="isHistory"
        [isHistory]="isHistory"
      ></app-activities-by-tab>
    </div>
  </section>
</div>
