<div class="row">
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Best Performing Employee (No. of Activities)</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('EmployeeWise', 'ActivityWise')"
        [matTooltip]="'Download data in CSV'"
        [matTooltipPosition]="'above'"
      />
    </div>
    <div class="widget__chart">
      <app-apex-column-chart
        [chartOptions]="noOfActivityChartOptions"
        *ngIf="noOfActivityChartOptions"
      ></app-apex-column-chart>
    </div>
  </div>
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Best Performing Employee (No. of Hours)</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('EmployeeWise', 'ParticipationHoursWise')"
        [matTooltip]="'Download data in CSV'"
        [matTooltipPosition]="'above'"
      />
    </div>
    <div class="widget__chart">
      <app-apex-column-chart
        [chartOptions]="noOfHousrsChartOptions"
        *ngIf="noOfHousrsChartOptions"
      ></app-apex-column-chart>
    </div>
  </div>
</div>
