// $bg-primary : #F6FBFC;

mat-card {
    // max-width: 400px;
    // margin: 2em auto;
    // text-align: center;
}

mat-form-field {
    display: block;
}

.log {
    &__container {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #fff;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    &__left {
        height: inherit;
        background-color: #F9F6FD;
        @media screen and (max-width: 768px) {
            height: auto;
        }
        // flex-grow: 1;
        // flex-shrink: 1;
        // background-image:url('/assets/images/log-bg.png') ;
        // background-repeat: no-repeat;
        // background-position: bottom;
        // background-size: 65%;
        // display: flex;
        // justify-content: flex-start;
        // align-items: baseline;
    }

    &__bg {
        height: 100%;
        object-fit: cover;
        // height: 60%;
        margin-top: auto;
        width: 100%;

    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        // align-items: center;
        // flex: 1 1 0px;
        // flex-grow: 1;

    }

    &__wrapper {
        width: 460px;
        padding: 12px 32px;
        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 12px 32px 30px 32px;
        }
    }

    &__logo {
        display: inline-block;
        margin: 25px 10px;

    }

    &__welcome {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 8px;
        text-align: center;
        padding-top: 15px;
    }

    &__welcome-msg {
        font-size: 18px;
    }
}

.btn {
    &__log {
        padding: 2px !important;
    }

    &__reset-password {
        display: inline-block;
        padding: 0;
        margin: 0 0 20px auto;

    }
}

.captcha-container {
    padding: 16px;
    background-color: #E4E4E4;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 32px;
}