<div class="log__container">
  <div class="log__left col-12 col-lg-7">
    <!-- <div class="log__head">
            <img src="assets/images/logo.png" alt="" >
        </div> -->
    <img src="assets/images/dd.png" alt="" class="log__bg" />
  </div>
  <div class="log__right col-12 col-lg-5">
    <div class="log__wrapper">
      <div class="d-flex justify-content-center">
        <img src="assets/images/sparsh-logo.svg" alt="" />
      </div>
      <form [formGroup]="loginForm">
        <h1 class="heading-primary log__welcome">Welcome Back!</h1>

        <div class="mb-3">
          <mat-label>Username</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="P00XXXXXX"
              name="username"
              formControlName="username"
              apptMarkIfRequired
            />
            <mat-error
              *ngIf="
                loginForm.get('username')?.errors?.required &&
                (loginForm.get('username')?.dirty ||
                  loginForm.get('username')?.touched)
              "
            >
              Username required
            </mat-error>
            <mat-error
              *ngIf="loginForm.get('username')?.hasError('invalidUsername')"
            >
              Please provide a valid username
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-label>Password</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="password"
              placeholder="Password"
              name="password"
              formControlName="password"
              apptMarkIfRequired
            />
            <mat-error
              *ngIf="
                loginForm.get('password')?.errors?.required &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
              "
            >
              Password required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="form__container">
                            <a class="btn__reset-password" mat-flat-button href="#" target="_blank">Forgot password ?</a>
                        </div> -->
        <button mat-flat-button class="btn__log" (click)="login()">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
