<div class="row">
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Department wise no. of Volunteers</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('DepartmentWise', 'ParticipationWise')" [matTooltip]="'Download data in CSV'" [matTooltipPosition]="'above'"
      />
    </div>

    <div class="widget__chart">
      <app-apex-column-chart
        [chartOptions]="noOfParticipantschartOptions"
        *ngIf="noOfParticipantschartOptions"
      ></app-apex-column-chart>
    </div>
  </div>
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Department wise no. of Participation Hours</p>
      <img
        src="assets/images/chart-download.svg"
        alt="download"
        (click)="downloadCsv('DepartmentWise', 'ParticipationHoursWise')" [matTooltip]="'Download data in CSV'" [matTooltipPosition]="'above'"
      />
    </div>
    <div class="widget__chart">
      <app-apex-column-chart
        [chartOptions]="participantHourschartOptions"
        *ngIf="participantHourschartOptions"
      ></app-apex-column-chart>
    </div>
  </div>
  <div class="col-12 col-md-4 rel-position">
    <div class="chart-title-sec">
      <p>Department wise no. of Unique Volunteers</p>

      <div class="chart-title-right">
        <div class="form-check form-switch">
          <input #depWise (change)="loadTotalVsUnique(depWise)"
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
          />
        </div>
        <img
          src="assets/images/chart-download.svg"
          alt="download"
          (click)="downloadCsv('DepartmentWise', 'UniqueParticipationWise')" [matTooltip]="'Download data in CSV'" [matTooltipPosition]="'above'"
        />
      </div>
    </div>
    <div class="widget__chart">
      <app-apex-column-chart
        [chartOptions]="uniqueParticipantschartOptions"
        *ngIf="uniqueParticipantschartOptions"
      ></app-apex-column-chart>
    </div>
  </div>
</div>
