
.preview_img {
  height: 130px;
  object-fit: cover;
}


.answers
{
  position: relative;
    width: 18%;
}

.answer 
{
  width:100%;

  .preview_img{  
    max-width: 100%;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    height: 100px;
    }
}

.close {
  position: absolute;
  top: -11px;
  right: -6px;
}
textarea {
  height: 100px;
}
