.promotion-popup {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    height: 490px;
    position: relative;
  }
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
    img{
      width: 20px;
      height: 20px;
    }
  }

  .promo-footer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: #0000009c 0% 0% no-repeat padding-box;
    h6 {
      font-size: 18px;
      color: #fff;
    }

    p {
      color: #fff;
      margin-bottom: 0px;
      display: flex;
      font-size: 14px;

      .mat-icon {
        margin-right: 5px;
      }
    }

    .time {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #fff;
    }
  }
}

:host ::ng-deep .mat-dialog-container {
  padding: 0px !important;
}
