<div class="header-top header__container">
  <ul>
    <li>
      <mat-icon> phone</mat-icon
      ><a href="tel:{{ loginUserDetails?.centralPhoneNumber }}">{{
        loginUserDetails?.centralPhoneNumber
      }}</a>
    </li>
    <li>
      <mat-icon> email</mat-icon
      ><a href="mailto:{{ loginUserDetails?.centralEmailId }}">{{
        loginUserDetails?.centralEmailId
      }}</a>
    </li>
    <li>
      <a
        href="https://teams.microsoft.com/l/chat/0/0?users={{ teamsEmail }}"
        target="_blank"
      >
        <img src="assets\images\teams.svg" /> Chat with Admin
      </a>
    </li>
  </ul>
</div>

<mat-toolbar class="header__container">
  <nav class="navbar navbar-expand-xl navbar-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="logo" (click)="handleImageClick()"><img src="assets\images\logo.svg" alt="" /></div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngFor="let menu of navigationItems">
            <li
              class="nav-item"
              [ngClass]="{ dropdown: menu?.subMenuList?.length > 0 }"
            >
              <a
                class="nav-link"
                aria-current="page"
                href="javascript:void();"
                [routerLink]="menu.url"
                [routerLinkActive]="['active']"
                *ngIf="menu?.subMenuList?.length === 0; else submenulist"
                (click)="onMenuClick()"
                >{{ menu.displayName }}</a
              >
              <ng-template #submenulist>
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ menu.displayName }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li *ngFor="let subMenu of menu.subMenuList">
                    <a
                      class="dropdown-item"
                      href="javascript:void();"
                      [routerLink]="subMenu.url"
                      >{{ subMenu.displayName }}</a
                    >
                  </li>
                </ul>
              </ng-template>
            </li>
          </ng-container>
        </ul>
        <!-- <div class="header-top-sec header__container">
          <ul>
            <li><mat-icon> phone</mat-icon>+91 9902100234</li>
            <li><mat-icon> email</mat-icon>kumar.akshay@asianpaints.com</li>
            <li>
              <img src="../../../../../assets/images/teams.svg" />
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </nav>

  <div class="hdr-right">
    <div>
      <img src="assets\images\sparsh-logo.svg" alt="" />
    </div>

    <div class="user__profile">
      <div class="user__avatar" [matMenuTriggerFor]="userMenu">
        <div class="user-name">
          {{ returnShortName(loginUserDetails?.name) }}
        </div>
        <!-- <img *ngIf="role === roleEnum.ADMIN" src="assets\images\profile-avtr.jpg" alt="" class="user__img"> -->
        <!-- <img *ngIf="role== 'supervisor'" src="assets/images/profile-supervisor.png" alt="" class="user__img">
                <img *ngIf="role== 'agent'" src="assets/images/profile-Agent.png" alt="" class="user__img"> -->
        <!-- <div class="user__avatar-status available" *ngIf="userStatus"></div>
                <div class="user__avatar-status unavailable" *ngIf="!userStatus"></div> -->
      </div>
      <div class="user__details">
        <div class="user__btn" [matMenuTriggerFor]="userMenu">
          <div class="user__name">{{ loginUserDetails?.name }}</div>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <!-- <div class="user__status" *ngIf="userStatus">Available</div>
                <div class="user__status" *ngIf="!userStatus">Unavailable</div> -->
      </div>
    </div>
  </div>

  <mat-menu #userMenu="matMenu" class="dropdown__menu dropdown__user">
    <!-- <button mat-menu-item (click)="gotoProfile()">Profile</button> -->
    <!-- <button mat-menu-item>{{userStatus ? 'Available':'Unavailable'}} <mat-slide-toggle (change)="toggle($event)"
                    [checked]="userStatus"></mat-slide-toggle></button> -->
    <div class="flbx-vac avtar-sec">
      <div class="user-name">
        {{ returnShortName(loginUserDetails?.name) }}
      </div>
      <span>
        <h2>{{ loginUserDetails?.name }}</h2>
        <p>{{ loginUserDetails?.employeecode }}</p>
      </span>
    </div>
    <div class="user-det">
      <h3>Contact</h3>
      <div class="user-email icon-text" *ngIf="loginUserDetails?.email">
        <img src="assets\images\email-icon.svg" alt=""><a href="mailto:{{ loginUserDetails?.email }}">{{
          loginUserDetails?.email
        }}</a>
      </div>
      <div class="user-tel icon-text" *ngIf="loginUserDetails?.officialMobile">
        <img src="assets\images\tel-icon.svg" alt=""> {{ loginUserDetails?.officialMobile }}
      </div>
      <ng-container *ngIf="role === roleEnum.EMPLOYEE">
        <hr />
        <h3>Activity</h3>
        <div class="activity">
          No. of Activities partcipated<span class="ps-2">{{
            loginUserDetails?.totalActivityParticipated
          }}</span>
        </div>
        <div class="activity">
          Total Hours Volunteered for<span class="ps-2"><br>{{
            returnFromattedHrsMnts(loginUserDetails?.totalHoursParticipated)
          }}</span>
        </div>
        <hr />
        <a href="javascript:void(0);" (click)="navigateToMyHistory()"
          >My History</a
        >
      </ng-container>

      <div *ngIf="originalRole === roleEnum.ADMIN; else csadmin">
        <hr />
        <a
          href="javascript:void(0);"
          (click)="switchProfile('EMPLOYEE')"
          *ngIf="role === roleEnum.ADMIN"
          >Switch to Employee Account</a
        >
        <a
          href="javascript:void(0);"
          (click)="switchProfile('ADMIN')"
          *ngIf="role === roleEnum.EMPLOYEE"
          >Switch to Admin Account</a
        ><br />
      </div>
      <ng-template #csadmin>
        <hr />
        <div *ngIf="originalRole === roleEnum.CADMIN">
          <a
            href="javascript:void(0);"
            (click)="switchProfile('EMPLOYEE')"
            *ngIf="role === roleEnum.CADMIN"
            >Switch to Employee Account</a
          >
          <a
            href="javascript:void(0);"
            (click)="switchProfile('CADMIN')"
            *ngIf="role === roleEnum.EMPLOYEE"
            >Switch to Central Admin Account</a
          ><br />
        </div>
      </ng-template>

      <a class="logout" href="javascript:void(0);" (click)="logout()">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>

  <app-filter-layout [changedRole]="role"></app-filter-layout><div class="">

  <ng-content></ng-content>
</div>
<!-- <mat-sidenav-container class="nav__side" autosize>
    <mat-sidenav #sidenav class="example-sidenav nav__wrapper" mode="side" opened="true">
        <mat-nav-list *ngFor="let menu of navigationItems">
            <mat-list-item *ngIf="!menu.disable" [routerLink]="menu.url" (click)="menu.subMenu = !menu.subMenu"
                class="parent ">
                <img [src]="menu.icon" alt="" [matTooltip]="menu.displayName" matTooltipPosition="below">
                <span class="full-width" *ngIf="isExpanded" data-toggle="tooltip">{{menu.displayName}}</span>

                <mat-icon *ngIf="menu.subMenuList.length>0" class="menu-button" [ngClass]="{'rotated' : menu.subMenu}">
                    expand_more</mat-icon>
            </mat-list-item>

            <mat-list-item *ngIf="menu.disable" (click)="menu.subMenu = !menu.subMenu" class="parent ">
                <img [src]="menu.icon" alt="" [matTooltip]="menu.displayName" matTooltipPosition="below">
                <span class="full-width" *ngIf="isExpanded">{{menu.displayName}}</span>

                <mat-icon *ngIf="menu.subMenuList.length>0" class="menu-button" [ngClass]="{'rotated' : menu.subMenu}">
                    expand_more</mat-icon>
            </mat-list-item>


            <div *ngIf="menu.subMenuList.length>0 && menu.subMenu">
                <div class="submenu" *ngFor="let subMenu of menu.subMenuList" [ngClass]="{'expanded' : menu.subMenu}">


                    <mat-list-item *ngIf="menu.disable" [routerLink]="subMenu.url"
                        (click)="subMenu.subMenu = !subMenu.subMenu" class="parent">
                        <img [src]="subMenu.icon" alt="" [matTooltip]="subMenu.displayName" matTooltipPosition="below">
                        <span class="full-width" *ngIf="isExpanded">{{subMenu.displayName}}</span>
                        <mat-icon *ngIf="subMenu.subMenuList.length>0" class="menu-button"
                            [ngClass]="{'rotated' : subMenu.subMenu}">expand_more</mat-icon>
                    </mat-list-item>


                    <mat-list-item *ngIf="!menu.disable" (click)="subMenu.subMenu = !subMenu.subMenu" class="parent">
                        <img [src]="subMenu.icon" alt="" [matTooltip]="subMenu.displayName" matTooltipPosition="below">
                        <span class="full-width" *ngIf="isExpanded">{{subMenu.displayName}}</span>
                        <mat-icon *ngIf="subMenu.subMenuList.length>0" class="menu-button"
                            [ngClass]="{'rotated' : subMenu.subMenu}">expand_more</mat-icon>
                    </mat-list-item>
                    <div class="submenu" [ngClass]="{'expanded' : subMenu.subMenu}" *ngIf="subMenu.subMenu">
                        <mat-list-item [routerLink]="innerSubMenu.url" *ngFor="let innerSubMenu of subMenu.subMenuList">
                            {{innerSubMenu.displayName}}</mat-list-item>

                    </div>


                </div>
            </div>
        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>

    <div class="">
        <ng-content></ng-content>
    </div>

</mat-sidenav-container>  -->
