<div class="page__wrapper">
  <section class="content-section">
    <div class="container-fluid page__content-block">
      <div class="page__header">
        <div class="page__tabContainer">
          <h2 class="page__heading">Finance Details</h2>
        </div>

        <div class="page__rightColumn participation">
          <button
            type="button"
            class="btn btn-grey"
            (click)="downloadFinanceCsv()"
          >
            <img src="assets\images\download.svg" alt="" /> Download CSV
          </button>
          <form class="example-form">
            <mat-form-field class="m-0 p-0" appearance="outline">
              <mat-label>Activity Id & Name</mat-label>
              <div class="flbx-stretch">
                <input
                  type="tel"
                  matInput
                  [formControl]="searchControl"
                  (keyup.enter)="searchParticipation()"
                  (change)="onChangeState()"
                />
                <span class="tb-search-ico">
                  <mat-icon
                    class="cancel"
                    matSuffix
                    (click)="closeSearch()"
                    *ngIf="searchControl?.value"
                    >cancel</mat-icon
                  >
                  <mat-icon matSuffix (click)="searchParticipation()"
                    >search</mat-icon
                  >
                </span>
              </div>
            </mat-form-field>
          </form>

          <!-- Search with dropdown -->

          <!-- <form class="example-form search-form">
            <mat-form-field class="m-0 p-0" appearance="outline">
              <div class="flbx-stretch s-input-wrapper">
                <input
                type="tel" matInput placeholder="Search by activity id" [formControl]="searchControl"
                (keyup.enter)="searchParticipation()" (change)="onChangeState()" />
                <span class="tb-search-ico">
                  <mat-icon
                    class="cancel"
                    matSuffix
                    (click)="closeSearch()"
                    *ngIf="searchControl?.value">
                    cancel</mat-icon>
                    <mat-icon matSuffix (click)="searchParticipation()">search</mat-icon>
                </span>
              </div>
            </mat-form-field>
            <mat-form-field class="searchby" appearance="outline">
              <mat-select placeholder="Search by">
                <mat-option value="employeeid">Employee ID</mat-option>
                <mat-option value="name">Name</mat-option>
                <mat-option value="activityname">Activity Name</mat-option>
              </mat-select>
            </mat-form-field>
          </form> -->
        </div>
      </div>

      <div
        class="document-listing"
        *ngIf="pagedItems?.length === 0; else showData"
      >
        <div class="no-data-box">
          <div class="no-data">
            <img src="assets\images\activities\nodata.png" alt="no data" />
            <h4>No Records to show</h4>
          </div>
        </div>
      </div>
      <ng-template #showData>
        <div class="common-table">
          <table mat-table [dataSource]="pagedItems" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="No">
              <th mat-header-cell *matHeaderCellDef>No</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ this.currentPager.startIndex + i + 1 }}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Activity ID">
              <th mat-header-cell *matHeaderCellDef>Activity ID</th>
              <td mat-cell *matCellDef="let element">
                {{ element.activityId }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef >Activity Name</th>
              <td title="{{ element.activityName }}" mat-cell *matCellDef="let element" class="act-name">
                {{ element.activityName }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Activity Date">
              <th mat-header-cell *matHeaderCellDef>Activity End Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.activityEndDate }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Location">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let element">
                {{ element.activityLocation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Estimated">
              <th mat-header-cell *matHeaderCellDef>
                Estimated Material/Campaigning/Creative Expense
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.materialOrCreativeExpense }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Actual">
              <th mat-header-cell *matHeaderCellDef>
                Actual Material/Campaigning/Creative Expense
              </th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.actualMaterialExpense
                    ? element.actualMaterialExpense
                    : 0
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Logistic">
              <th mat-header-cell *matHeaderCellDef>
                Estimated Logistic Expense
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.logisticExpense }}
              </td>
            </ng-container>
            <ng-container matColumnDef="ActualLogistics">
              <th mat-header-cell *matHeaderCellDef>Actual Logistic Expense</th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.actualLogisticExpense
                    ? element.actualLogisticExpense
                    : 0
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Gratification">
              <th mat-header-cell *matHeaderCellDef>
                Estimated Gratification Expense
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.gratificationExpense }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Gratifi">
              <th mat-header-cell *matHeaderCellDef>
                Actual Gratification Expense
              </th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.actualGratificationExpense
                    ? element.actualGratificationExpense
                    : 0
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Others">
              <th mat-header-cell *matHeaderCellDef>Estimated Others</th>
              <td mat-cell *matCellDef="let element">
                {{ element.otherExpense }}
              </td>
            </ng-container>
            <ng-container matColumnDef="AOthers">
              <th mat-header-cell *matHeaderCellDef>Actual Others</th>
              <td mat-cell *matCellDef="let element">
                {{
                  element.actualOtherExpense ? element.actualOtherExpense : 0
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Total">
              <th mat-header-cell *matHeaderCellDef>Estimated Total</th>
              <td mat-cell *matCellDef="let element">
                {{ element.estimateTotal ? element.estimateTotal : 0 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="ATotal">
              <th mat-header-cell *matHeaderCellDef>Actual Total</th>
              <td mat-cell *matCellDef="let element">
                {{ element.actualTotal ? element.actualTotal : 0 }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <div>
          <app-pagination
            (pageChange)="onPageChange($event)"
            [page]="currentPage"
            [pageSize]="pageSize"
            [totalItems]="totalItems"
          >
          </app-pagination>
        </div>
      </ng-template>
    </div>
  </section>
</div>
