
<div class="header-Landing_config">
    <h1>Manage Videos</h1>
    <a class="btn-create" (click)="createVideo()">+ Create</a>
</div>

<div class="content-wrap_cms">
    <div class="cms_content_box" *ngFor="let yt of ytData">
        <div class="first_sec">
            <div class="title_sec">
                <div class="img-box"><img [src]="yt?.videoImage"></div>
                <a href="{{yt?.videoURL}}" target="_blank">{{yt?.videoURL}}</a>
            </div>
            <div class="btn_sec">
                <a class="delete" (click)="deleteVideo(yt?.videoURL)"></a>
                <!-- <a class="edit"></a>
                <a class="view"></a> -->
                <!-- <a class="play"></a> -->
            </div>
        </div>
       
    </div>
</div>

