<div
  class="container-fluid landingpage_cms"
  [ngClass]="isMenuCollapse ? 'menu-deactive' : ' '"
>
  <!-- " menu-deactive" add this class with "landingpage_cms" menu will be hide -->

  <a class="cms_menu_btn" (click)="onMenuClick()"
    ><span class="material-symbols-outlined">menu</span></a
  >
  <div class="row">
    <!-- Content for the first column -->
    <div class="sidemenu_card">
      <ul>
        <li>
          <a
            [ngClass]="currentRoute === 'bannersImage' ? 'active' : ''"
            (click)="setRoute('bannersImage')"
            >Banners</a
          >
        </li>
        <li>
          <a
            [ngClass]="currentRoute === 'leaders-talks' ? 'active' : ''"
            (click)="setRoute('leaders-talks')"
            >Leaders Talks</a
          >
        </li>
        <li>
          <a
            [ngClass]="currentRoute === 'youtube-video' ? 'active' : ''"
            (click)="setRoute('youtube-video')"
            >Youtube Video
          </a>
        </li>
        <li>
          <a
            [ngClass]="currentRoute === 'voice-of-change' ? 'active' : ''"
            (click)="setRoute('voice-of-change')"
            >Voice of Change</a
          >
        </li>
        <li>
          <a
            [ngClass]="currentRoute === 'testimonials' ? 'active' : ''"
            (click)="setRoute('testimonials')"
            >Testimonials</a
          >
        </li>
        <li>
          <a
            [ngClass]="currentRoute === 'partners-logos' ? 'active' : ''"
            (click)="setRoute('partners-logos')"
            >Partners Logos</a
          >
        </li>
      </ul>
    </div>

    <div class="content-wrapper" [ngSwitch]="currentRoute">
      <div *ngIf="isLoading; else content"></div>
      <ng-template #content>
        <ng-container *ngSwitchCase="'bannersImage'">
          <app-banner [bannerData]="bannerImages"></app-banner>
        </ng-container>
        <ng-container *ngSwitchCase="'leaders-talks'">
          <app-leaders-talk [leadersData]="leadersData"></app-leaders-talk>
        </ng-container>
        <ng-container *ngSwitchCase="'youtube-video'">
          <app-youtube-videos [ytData]="video"></app-youtube-videos>
        </ng-container>
        <ng-container *ngSwitchCase="'voice-of-change'">
          <app-voice-of-change [vocData]="voiceOfChange"></app-voice-of-change>
        </ng-container>
        <ng-container *ngSwitchCase="'testimonials'">
          <app-testimonials
            [testimonialData]="testimonialData"
          ></app-testimonials>
        </ng-container>
        <ng-container *ngSwitchCase="'partners-logos'">
          <app-partner-logos
            [partnersData]="partnersLogoLocation"
          ></app-partner-logos>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <app-banner></app-banner>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
