<!-- <nggt-page-layout>
    <nggt-page-layout-header>
        <h1 class="mat-h1">Profile 1</h1>
    </nggt-page-layout-header>
    <nggt-page-layout-content>
        <h1>Hello </h1>
    </nggt-page-layout-content>
</nggt-page-layout> -->




<div class="page__wrapper">

    <section class="content-section">
        <div class="page__header">
            <div class="page__tabContainer">
               

            </div>
         
        </div>
        <div class="page__msgWrapper" >
            <div class="matrix__wrapper chat__wrapper">
                <div class="profile__container">
                        <div class="profile__userDetails">
                            <div class="profile__userAvtar">
                                <img src="assets/images/profile.png" alt="">
                            </div>
                            <div class="profile__history">
                                <h3 class="profile__userName">John Smith</h3>
                                <div class="profile__userRole">Customer Support Agent</div>
                                <div class="profile__userRole">AG00001</div>
                                <div class="profile__userContact">
                                    <div class="profile__mobile">
                                        <mat-icon>phone_iphone</mat-icon> <span>+63 890 234 7897 </span>
                                    </div>
                                    <div class="profile__email">
                                        <mat-icon>alternate_email</mat-icon><span>john.smith@midea.co.in</span>
                                    </div>
                                </div>
                                
                                <div class="profile__userAddons"><mat-icon>access_time</mat-icon> <span>9.00 AM to 6.00 PM PST</span></div>
                                <div class="profile__userAddons"><mat-icon> location_on</mat-icon><span>Manila</span></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
            